body {
  color:#000080;
}

.heading {
  color: navy;
}
.heading p { margin: 0%;}
.body p { margin: 10%;}



.heading{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font size: 18px ;
}

.heading p{
    font-size: small;
    margin: 0;
}
.column {
  color:black;
}
h6 {text-align: center;}

h4 {
  text-align: left;
}
footer {
  text-align: center;
}
.Legal {
  text-align: left;
}
.column {
float:left;
width: 50%;
}

.row ::after{ 
    display: table;
    clear:both
}
li{
    margin: 5px;
}

a{
    color: #800080;
    font-size: medium;

a:visited {
    color: #ff0000;
}



